/* Global
========================================*/
body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  position: relative;
}

/* Push body down to allow for fixed nav on top*/
.wrapper {
  margin-top: 5em;
  width: 100vw;
}



/* Text Styles
========================================*/
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Open Sans Condensed", sans-serif;
}

h1 {
  color: white;
  text-transform: uppercase;
}

h2 {
  padding: .63em;
  text-align: center;
}

/* Header
========================================*/
header {
  background-color: #4A85B2;
  padding: .75em 1.25em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* To allow for left and right positioned items of the header */
.header-flex {
  align-items: center;
  display: flex;
  }

/* To make h1 and nav occupy same width within the row */
h1,
nav {
  flex: 1;
}

.hamburger {
  display: none;
}

/* To get list items to line up next to each other */
.nav-item {
  display: inline-block;
  margin: 0 .63em;
}

.nav-link:hover {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-radius: 0px;
  color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-radius: 0px;
}


/* Portfolio
========================================*/
#portfolio {
  background-color: #FFEABF;
}

.carousel-indicators {
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  margin: 0;
  padding: 1.25em;
  width: 100%;
  z-index: 1;
}

.carousel-indicators li:hover{
  cursor: pointer;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  margin-bottom: 1.4em;
  padding-bottom: 0;
  width: 100%;
}



/* About Me
========================================*/
/* [] TODO: Make multi-column layout for content
  use flexbox */

#about {
  background-color: #FFDE99;
  padding: 3em 5em;
}

/* Set flex container to make 3 columns */
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Set width to about 30% of the viewport to make 3 columns */
.about-col {
  width: 30%;
}

/* To make picture in column 1 resize to the width of its parent column */
.about-col img {
  width: 100%;
}


/* Skills
========================================*/
#skills {
  background-color: #FFEABF;
  padding: 3em 8em;
  position: relative;
}

.skillsSection {

}

/* Contact Form
=========================================*/
#contact {
  background-color: #FFDE99;
  padding: 4em 12em;
}

/* Set flexbox container */
.form-row {
  display: flex;
  margin: .63em;
}

/* To force each item within the flex container to take up equal space within */
.form-row input,
.form-row textarea {
  background-color: white;
  border: 2px solid #4A85B2;
  border-radius: 6px;
  flex: 1;
  font-size: .75em;
  margin: 0 .63em;
  padding: .5em 1em;
}

input[type="submit"] {
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: #4A85B2;
  color: white;
  cursor: pointer;
}


/* Footer
=========================================*/
/* Set flexbox in order to left align name and right align icons */
footer {
  align-items: center;
  background-color: #4A85B2;
  display: flex;
  justify-content: space-between;
  padding: .5em 3em;
}

.footer-flex {
  align-items: center;
}

footer p {
  color: white;
}

.icons {
  display: inline-block;
  margin: 0 .63em;
}

.fa-linkedin,
.fa-instagram {
  color: black;
  margin: 0 .63em;
}


.fa-linkedin:hover,
.fa-instagram:hover {
  color: white;
}


/* Media Queries
=========================================*/
@-ms-viewport {
  width: device-width;
}
/* [] TODO: Nav collapses into hamburger icon */
  /* Hide nav links */
  /* Or change display to in one column then use JS to slide down/up */
@media screen and (max-width: 1003px) {
  .nav-item {
    margin: 0 .25em;
  }
}

@media screen and (max-width: 906px) {
  .nav-item {
    margin: 0 .15em;
  }
}

@media screen and (max-width: 880px) {
  .nav-item {
    margin: 0 .05em;
  }
}

@media screen and (max-width: 854px) {
  .nav-item {
    margin: 0;
  }
}

@media screen and (max-width: 842px) {
  .hamburger {
    display: block;
    float: right;
  }

  .btn-secondary {
    background-color: transparent;
    border-color: transparent;
    color: black;
  }

  .btn-secondary:hover {
    color: white;
    background-color: transparent;
    border-color: transparent;
  }

  .btn-secondary:focus {
    box-shadow: none;
  }

  .nav-pills .nav-link.active {
    border-bottom: 2px solid #4A85B2;
    color: #4A85B2;
  }

  .nav-pills .nav-link:hover {
    border-bottom: 2px solid #4A85B2;
    color: #4A85B2;
  }
}

@media screen and (max-width: 763px) {
  /* To stack section verticallly vs. flex */
  .about-container,
  .form-row {
    display: block;
  }

  /* To widen all lines to take up the whole space */
  .about-col,
  .form-row input,
  .form-row textarea {
    width: 100%;
  }

  .about-col:first-child {
    margin-bottom: 1em;
  }

  .about-col img {
    height: 50%;
  }

  .form-row input:first-child {
    margin-bottom: .63em;
  }
}

@media screen and (max-width: 615px) {
  h1 {
    font-size: 2.4em;
  }

  #skills {
    padding: 3em;
  }

  #contact {
    padding: 2em 4em;
  }

  footer {
    padding: .5em 1em;
  }
}
